<style>
</style>

<main>
  <nav class="navbar navbar-expand-sm p-3">
    <div class="container-fluid">
      <h1 class="display-4">Evelyne Tran</h1>
      <button type="button" class="navbar-toggler" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="navmenu" [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul ngbNav class="navbar-nav ms-auto">
          <li ngbNavItem class="h3 me-3"><a ngbNavLink>Home</a></li>
          <li ngbNavItem class="h3 me-3"><a ngbNavLink>CV</a></li>
          <li ngbNavItem class="h3 me-3"><a ngbNavLink>More</a></li>
          <li ngbNavItem class="h3 me-3"><a ngbNavLink>Contact</a></li>
        </ul>
      </div>
    </div>

  </nav>

</main>


<router-outlet />
